### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule mevsite-main index.html
RewriteRule my-education education.html
RewriteRule more-options more.html
RewriteRule about-me about.html
RewriteRule game-launcher gamelauncher.html