body
{
background-color: #303030;
color: #ffffff;
font-family: 'Lato', sans-serif;
font-size:20px;
}
#container
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
.rectangle
{
	width:960px;
	margin:20px;
}
.square
{
		width:50%;
		float:left;
		
}

#logo
{
	float:left;
	font-family: 'Josefin Sans', sans-serif;
	font-size:42px;
	width:600px;
	margin-top:10px;
	margin-bottom:10px;
	text-align:left;
}

#glock
{
	float:left;
	font-family: 'Josefin Sans', sans-serif;
	font-size:60px;
	margin-top:10px;
	margin-bottom:10px;
	text-align:left;
	
}
.tile1
{
	margin:10px;
	width:230px;
	height:142px;
	background-color:#2d76d5;
	float:left;
	text-align:center;
	font-size:20px;
}
.tile1:hover
{
	background-color:#1c65c4;
}
.tile2
{
	margin:10px;
	width:230px;
	height:142px;
	background-color:#dac380;
	float:left;
	text-align:center;
	
}
.tile2:hover
{
	background-color:#c9b270;
}
.tile3
{
	margin:10px;
	width:230px;
	height:142px;
	background-color:#e68a2c;
	float:left;
	text-align:center;
}
.tile3:hover
{
	background-color:#d5791b;
}
.tile4
{
	margin:10px;
	width:480px;
	height:142px;
	background-color:#00cc99;
	text-align:center;
	font-size:60px;
	
	 

}
.tile4:hover
{
	background-color:#00bb88;
}
.tile5
{
	margin:10px;
	width:480px;
	height:304px;
	background-color:#666666;
	text-align:center;
	font-size:30px;
	

}
.tile5:hover
{
	background-color:#555555;
}
.yt
{
	
	margin:10px;
	width:105px;
	height:142px;
	background-color:#d94348;
	float:left;
	text-align:center;

}
.yt:hover
{
	background-color:#c83237;
}
.fb
{
	
	margin:10px;
	width:105px;
	height:142px;
	background-color:#3348B1;
	float:left;
	text-align:center;

}
.fb:hover
{
	background-color:#2237a1;
}
.bh
{
	
	margin:10px;
	width:105px;
	height:142px;
	background-color:#4462F4;
	float:left;
		text-align:center;

}
.bh:hover
{
	background-color:#3351e3;
}
.gh
{
	
	margin:10px;
	width:105px;
	height:142px;
	background-color:#000000;
	float:left;
		text-align:center;

}
.gh:hover
{
	background-color:#111111;
}
.rectangle 
{
	text-align:center;
}
#Naruto
{
	margin-top:28px;
	
}
a.tielink
{
	color:#ffffff;
	text-decoration:none;
	display:block;
	width:230px;
	height:142px;
}
a.tielink4
{
	color:#ffffff;
	text-decoration:none;
	display:block;
width:480px;
	height:142px;
}
a.tielink5
{
	color:#ffffff;
	text-decoration:none;
	display:block;
	width:480px;
	height:304px;
}
a.sociallink
{
	color:#ffffff;
	text-decoration:none;
	display:block;
	width:105px;
	height:142px;
}
a.mainlink
{
	color:#ffffff;
	text-decoration:none;
	display:block;
	width:600px;
	height:50px;
}
#header
{
	text-align:center;
	margin-top:20px;
	font-size:60px;
	color:#00cc99;
}
#content
{
	text-align:center;
	font-size:20px;
	margin-top:120px;
	text:justify;
}
#header2
{
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  text-align: center;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  animation: rainbow 8s ease infinite;
  margin-top:10px;
}

@keyframes rainbow
 { 
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}
